*{

  /* margin: 0px 0px;
padding: 0px 0px;
text-align: center;
align-items: center; */
}


/* box header */
/* Imagen header */
.header{
margin: 28px 0px 0px;

}
.imagen{
  margin-bottom: 10px;
max-width: 80%;
position: relative;

}
/* Texto header */
.texto-imagen{
font-size: 25px;
padding-bottom: 7%;
}


/* fin header */

/* main Correo y Contraseña */
.main{

}

    .input-box{
  padding-bottom: 7%;
 
    }
    .login{
  
      border-radius: 10px !important;
      word-break: normal;
      tab-size: 4;
   border: solid 1;
   border-width: thin;
   border-color: gray !important;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: transparent;
      --swiper-theme-color: #007aff;
      --swiper-navigation-size: 44px;
      --bg-color: #fff;
      --bg-color-header: #fff;
      --text-color: #242529;
      --overlay-color: rgba(0,0,0,0.5);
      --title-color: #242529;
      --marked-color: #f6f7f8;
      --vh: 6.67px;
      letter-spacing: normal;
      text-align: left;
      font: inherit;
      margin: 0;
      box-sizing: border-box;
      color: inherit;
      display: flex;
      position: relative;
      width: 100%;
      border-radius: inherit;
      cursor: text;
      transition: background .3s cubic-bezier(.25,.8,.5,1);
      align-items: stretch;
      background: transparent;
      margin-bottom: 0;
      min-height: 48px;
      padding: 0 12px;
      padding-left: 16px;
      padding-right: 16px;
    
      }
.olvidado{
  text-align: center;
  margin-top: 10%;
font-size: 15px;
}

.cajaseparadora
{
  height: 10%;
}


.columnafooter{
  text-align: center;
  width: 100% !important;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 25px 0px; 
  grid-template-areas: 
    ". ."
    ". ."; 
    font-size: 15px;
font-weight: 1;
}


  button.btn {
    border-radius: 5vh !important;
  margin-top: 2vh !important;
  tab-size: 4;
  background-color: gray !important;
  color: white !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-size-adjust: 100% !important;
  -webkit-tap-highlight-color: transparent !important;
  --swiper-theme-color: #007aff !important;
  --swiper-navigation-size: 44px !important;
  --bg-color: #fff !important;
  --bg-color-header: #fff !important;
  --text-color: #242529 !important;
  --overlay-color: rgba(0,0,0,0.5) !important;
  --title-color: #242529 !important;
  --marked-color: #f6f7f8 !important;
  --vh: 2.94px !important;
  box-sizing: border-box !important;
  font: inherit !important;
  overflow: visible !important;
  font-family: inherit !important;
  -webkit-appearance: button !important;
  border: none !important;
  font-size: 12px !important;
  line-height: 20px !important;
  color: #fefefe !important;
  font-weight: 500 !important;
  min-width: 78px !important;
  white-space: nowrap !important;
  text-align: center !important;
  text-transform: uppercase !important;
  margin-bottom: 0!important;
  cursor: default !important;
  padding: 12px 16px !important;
  min-height: 48px !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  align-content: center !important;
  align-items: center !important;
  border-radius: 1000px !important;

  opacity: .4 !important; 

  justify-content: center !important;
  margin: 0 0 20px !important;
    
}
 /*
@media only screen and (min-width: 700px) {
.logo{
  width: 80vh;
  margin-top: 25%;
  background: white;
}

h2{
  color: white;
  max-width: 344px;
  height: 72px;
margin-left: 10px;
margin-top: 10px !important;
font-size: 34px !important;
font-family: sans-serif;

}
#header{
  background-image: url(/IMG/fondoizq.jpg);

}
.iniciar{
  margin-top: 60px !important;
      font-size: 18px !important;
    }
      .btn{
  
        padding: 0 !important
        ;
   margin: 0 !important;

     max-width: 90% !important;
margin-left: 10px !important;
  
  
      }
      .login{
        margin-top: 20px;
        width: 100% !important;
        height: 15%;
        margin-bottom: 10px !important;
          
        }
.columnafooter{
width: 100% !important;
  display: grid !important; 
  grid-auto-columns: 1fr !important; 
  grid-template-columns: 1fr 1fr 1fr 1fr !important; 
  grid-template-rows: 1fr 1fr 1fr 1fr !important; 
  gap: 0px 0px !important; 
  grid-template-areas: 
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ." !important;
}


}

@media only screen and (min-width: 376px) {
  .logo{ 
    position: relative;
    margin-right: -10% !important;
    padding: 5px;
  max-width: 34vh;
  }


}
@media only screen and (min-width: 375px) {
  .logo{ 
    position: relative;
    margin-left: -120px !important;
    padding: 5px;
  max-width: 34vh;
  }
  h2{
    width: 344px;
    height: 72px;
 margin-left: 10px;
  font-size: 28px !important;
  font-family: sans-serif;

  }

  .iniciar{
margin-top: 25px;
    font-size: 15px !important;
  }
  .btn{
    margin: 0;
    padding: 0;
    margin-left: -15px;
    width: 100% !important;


    }
    .login{
      margin-top: 20px;
      width: 100%;
      height: 15%;
      margin-bottom: 10px !important;
        
      }
      #olvidado{
        margin-left: 25px;
       }
}


@media only screen and (min-width: 280px) {


.logo{
position: relative;
 margin-left: -50px;
  padding: 5px;
max-width: 34vh;
}
h2{
  width: 344px;
  height: 72px;
text-align: start;
font-size: 28px;
font-family: sans-serif;
}
.iniciar{

  font-size: 12px;
}
.btn{
margin: 0;
padding: 0;
margin-left: -15px;
width: 110% !important;
}
.login{
width: 100%;
height: 15%;
margin-bottom: 40px;
  
}

footer{

text-align: center;
  margin-top: 20vh;

}
.columnafooter{
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."
    ". ."; 
}
#olvidado{
 margin-left: 15px;
}

} */
